.bg-img1{
    background-color: #000;
    background-image: url();
    background-size: cover;
}
.bg-img2{
    background-color: #000;
    background-image: url();
    background-size: cover;
}
.bg-img3{
    background-color: #000;
    background-image: url();
    background-size: cover;
}